<div class="row">
  <div class="col-12">
    <div class="embed-responsive embed-responsive-1by1 gamearea">
      <div class="embed-responsive-item gameboard">
        <div class="col-4 gamebox">
          <div class="card-representation"></div>
        </div>
        <div class="col-4 gamebox">
          <div class="card-representation"></div>
        </div>
        <div class="col-4 gamebox">
          <div class="card-representation"></div>
        </div>
        <div class="col-4 gamebox game-text" id="deck">
          <div class="card-representation"></div>
        </div>
        <div class="col-4 gamebox game-text" id="current-selection">
          <div class="card-representation"></div>
          <div class="card-representation"></div>
        </div>
        <div class="col-4 gamebox game-text" id="briscola">
          <div class="card-representation"></div>
        </div>
        <div class="col-4 gamebox game-text user-card" data-id=0>
          <div class="card-representation"></div>
        </div>
        <div class="col-4 gamebox game-text user-card" data-id=1>
          <div class="card-representation"></div>
        </div>
        <div class="col-4 gamebox game-text user-card" data-id=2>
          <div class="card-representation"></div>
        </div>
      </div>
    </div>
  </div>
</div>
