<li class="nav-item log">
  <button class="btn btn btn-secondary my-2 my-sm-0" id="new-game">New Game</button>
</li>
<li class="nav-item log">
  <button class="btn btn btn-secondary my-2 my-sm-0" data-toggle="modal" data-target="#index-games" id="index-games-button">Get Games</button>
</li>
<li class="nav-item log">
  <button class="btn btn btn-secondary my-2 my-sm-0" data-toggle="modal" data-target="#setting-modal" id="settings">Settings</button>
</li>

<li class="nav-item log">
  <button class="btn btn btn-secondary my-2 my-sm-0" id="sign-out">Sign-Out</button>
</li>
