<div class="modal fade" id="rules-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Rules</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5>Objective</h5>
        <p>Briscola is a Mediterranean trick-taking card game for two to six players, played with a standard Italian 40-card deck.
          The objective of the game is to win tricks with valueable cards in them.</p>
        <h5>Card Values</h5>
          <table>
            <tr>
              <td>Card</td>
              <td>Value</td>
            </tr>
            <tr>
              <td>Ace</td>
              <td>11 points</td>
            </tr>
            <tr>
              <td>Three</td>
              <td>10 points</td>
            </tr>
            <tr>
              <td>King</td>
              <td>4 points</td>
            </tr>
            <tr>
              <td>Knight</td>
              <td>3 points</td>
            </tr>
            <tr>
              <td>Jack</td>
              <td>2 points</td>
            </tr>
          </table>
          <p>The remaining cards have no point value. As you can see, the total value of cards in the deck adds up to 120 points.
            Therefore, the player or team which scores 61 points or more wins the game.
            A game is drawn if both parties end up with a Total of 60.</p>
          <h5>Deal</h5>
          <p>One of the two players shuffles the deck and deals three cards to each player, one at a time, face down.
            He/She then turns up the next card and places it face up next to the pile of undealt cards.
            This face up card determines the "Briscola", the Trump Suit for the game.</p>
          <h5>Playing</h5>
          <p>In Briscola there is no obligation to follow suit.</p>
          <ul>
            <li>If B plays a card of the same suit led by A, then the Trick is won by whoever played the highest card.
              The winner takes up both cards, and puts them in a pile near him.</li>
            <li>If B plays a card of a different suit from the card led by A, and neither card is a Trump, then A wins the Trick because B hasn’t followed suit.</li>
            <li>If one of the cards is a Trump, then the Trick is won by whoever played the Trump.</li>
            <li>If both cards played are Trumps, then the Trick is won by whoever played the highest Trump.</li>
          </ul>
          <p>After each trick, each player draws a card from the pile of undealt cards and the winner leads to the next trick.
            Eventually all the undealt cards will be exhausted, and one of the two players will have to draw the Briscola card.
            The game then continues, without drawing cards, until all the cards have been played.
            Each player then takes up his/her pile of tricks and calculates their total. The player with the most points wins.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
