@import './colors.scss';
@import './theme.scss';
@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Amiri|Dancing+Script:400,700&display=swap');

html,
body {
  background-color: $light-green;
  font-family: 'Amiri', serif;
  height: 100vh;
  margin: 0;
  padding: 0;
}

header {
  margin: 0;
  max-height: 6vh;
}

main {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0;
  min-height: 94vh;
}

// User login bootstrap card
.card {
  margin: 0 auto;
  max-width: 35vw;
}

.card-representation {
  background-color: $blue;
  border-radius: 10px;
  margin: 3px;
  min-height: 80%;
  min-width: 60%;
  text-align: center;

  &:hover {
    border: 2px solid $light-blue;
    margin: 1px;
  }
}

.sign-failure {
  color: $red;
  margin: 0 auto;
  text-align: center;
}

.user-card {
  cursor: pointer;
}



.game-text {
  background-color: $blue;
  color: $white;
  font-family: 'Dancing Script', cursive;
  font-size: 1.1em;
}

.btn-secondary {
  margin: 0 .5em;
}

.gamearea {
  margin: 0 auto;
  max-width: 90vh;
  min-height: 85vh;
}

.gameboard {
  display: flex;
  flex-wrap: wrap;

  > .gamebox {
    align-items: center;
    // border: 1px solid $black;
    display: flex;
    height: calc(100/3);
    justify-content: center;
    white-space: pre-line;
  }
}

.navbar-brand {
  font-family: 'Dancing Script', cursive;
}

#display-sign-up-modal {
  color: $light-blue;
}

@media only screen and (max-width: 600px) {
  .card {
    max-width: 70%;
  }

  .game-text {
    font-size: .8em;
  }
}
